<script>
  document.addEventListener('DOMContentLoaded', function() {
    const migrationActions = document.querySelectorAll('.migration-action');

    migrationActions.forEach(button => {
      button.addEventListener('click', function(event) {
        const confirmMessage = button.dataset.confirm;
          if (confirmMessage && !confirm(confirmMessage)) {
            event.preventDefault();
            return;
        }

        const originalText = button.value;
        button.value = 'Loading...';
        disableButtons();

        fetch(event.target.form.action, {
            method: 'POST'
          })
          .then(response => {
            if (response.ok) {
              window.location.reload();
            } else {
              throw new Error('Network response was not ok.');
            }
          })
          .catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
            enableButtons();
            button.value = originalText;
          });

        event.preventDefault();
      });
    });

    function disableButtons() {
      migrationActions.forEach(button => {
        button.disabled = true;
      });
    }

    function enableButtons() {
      migrationActions.forEach(button => {
        button.disabled = false;
      });
    }
  });
</script>
